name: Update AoC Badges
on:
  schedule:
    - cron: "7 9 * * 1" 

  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        year: [2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015]
        color: [red, darkblue, yellow, orange, lightgrey, green, blue, black]
    steps:
      - uses: actions/checkout@v3

      - name: "Update Badge"
        uses: joblo2213/aoc-badges-action@v3
        with:
          userid: ${{ secrets.AOC_USERID }}
          session: ${{ secrets.AOC_SESSION }}
          year: ${{ matrix.year }}
          #leaderboard: 'https://adventofcode.com/2020/leaderboard/private/view/00000.json'
          #file: 'README.md'                                                                         
          starsRegex: '(?<=https:\/\/img\.shields\.io\/badge\/${{ matrix.year }}_â­-)[0-9]+(?=-${{ matrix.color }})'             
          #daysCompletedRegex: '(?<=https:\/\/img\.shields\.io\/badge\/days%20completed-)[0-9]+(?=-red)'  

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5.0.2
        with:
          commit-message: Update AoC Badges
          title: changes to AoC Badges
          add-paths: |
            README.md
          assignees: asphaltbuffet
